<!-- Banner -->
    <section id="banner">
        <h2>Royal Rangers Friesenberg</h2>
        <p>Christliche Phadfinder von den Pfingstgemeinden der Schweiz</p>
        <ul class="actions">
            <li><a href="stammtreffs" class="button special">Komm Auch</a></li>
            <li><a href="about" class="button">Wer wir sind</a></li>
        </ul>
    </section>

<!-- Main -->
    <section id="main" class="container">

        <section class="box special">
            <header class="major">
                <h2>Die Christliche Jugendarbeit <br>
                im Quartier Friesenberg </h2>
                <p>Wir betreuen jeden Samstag ihre Kinder altersgerecht. <br>
                Bei uns sind Kinder aller Alterstufen vom 1. Kindergarten bis zur 9. Klasse willkommen.</p>
            </header>
            <span class="image featured"><img src="images/pic01.jpg" alt="" /></span>
        </section>

        <section class="box special features">
            <div class="features-row">
                <section>
                    <span class="icon major fa-bolt accent2"></span>
                    <h3>Körperlich</h3>
                    <p>Für Kinder ist es wichtig ihren Körper kennen zu lernen. Wir fördern dies mit Spiel und Spass sowohl im Wald als auch rund um unser Treffpunkt. Sollte das Wetter einmal gar nicht mittspielen haben wir auch die Möglichkeit in der Trunhalle die überschüssige Energie los zu werden.</p>
                </section>
                <section>
                    <span class="icon major fa-area-chart accent3"></span>
                    <h3>Geistig</h3>
                    <p>Das Geistige Wachstum eines Kindes hängt sehr strak von der jeweiligen beschäftigung ab. Als Royal Rangers ist es uns ein aliegen die Kinder nicht nur zu unterhalten sondern ihnen auch verschidene Fertigkeiten mit auf den Weg zu geben.</p>
                </section>
            </div>
            <div class="features-row">
                <section>
                    <span class="icon major fa-cloud accent4"></span>
                    <h3>Geistlich</h3>
                    <p>Als Christliche Pfadfinder glauben wir, dass Gott im leben jedes Menschen einen grossen Stellenwert haben sollte. Wir bewegen uns in einer wunderbaren Natur, und möchten den Kindern ein verständniss für das Geschaffene vermitteln.</p>
                </section>
                <section>
                    <span class="icon major fa-lock accent5"></span>
                    <h3>Gesellschaftlich</h3>
                    <p>Zusammen sind wir stark. Die Kinder werden in dem Alter entsprechenden Gruppen betreut. Die dadurch entstehenden Berürhungspunkte nutzen wir um den Kindern zu helfen sich mit anderen Menschen und Meinungen auseinander zu setzen.</p>
                </section>
            </div>
        </section>

    <!-- Next Events -->
        <div class="row">
            <div class="6u 12u(narrower)">

                <section class="box special">
                    <span class="image featured"><img src="images/pic02.jpg" alt="" /></span>
                    <!-- list next events -->
                    <h3 id="next-events">Nächste Events</h3>
                    <script id="next-events-template" type="text/x-custom-template">
                      <p><time datetime=""></time> <a href=""></a></p>
                    </script>
                    <ul class="actions">
                        <li><a href="#" class="button alt">Weitere Infos</a></li>
                    </ul>
                </section>

            </div>
            <div class="6u 12u(narrower)">

                <section class="box special">
                    <span class="image featured"><img src="images/pic03.jpg" alt="" /></span>
                    <h3>Aktuelle Fotos</h3>
                    <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
                    <ul class="actions">
                        <li><a href="#" class="button alt">Learn More</a></li>
                    </ul>
                </section>

            </div>
        </div>

    </section>

<!-- CTA -->
    <section id="cta">

        <h2>Sign up for beta access</h2>
        <p>Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc.</p>

        <form>
            <div class="row uniform 50%">
                <div class="8u 12u(mobilep)">
                    <input type="email" name="email" id="email" placeholder="Email Address" />
                </div>
                <div class="4u 12u(mobilep)">
                    <input type="submit" value="Sign Up" class="fit" />
                </div>
            </div>
        </form>

    </section>